/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
	background-color: #000;
	height: 100%;
}

* {
    box-sizing: border-box;
}

.page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 10;
    display: none;
	overflow-y: auto;
	padding: 60px 0;
}

.page h1 {
    margin: 20px auto 40px auto;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.page .body {
    margin: 20px auto;
    max-width: 600px;
}

.page .body .section {
    margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px 20px 20px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    padding: 10px;
    justify-content: center;
	background-color: #000;
}

.nav .nav-link {
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    padding: 10px;
    z-index: 100;
    color: #fff;
    font-size: 36px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer .copyright {
    font-size: 18px;
	line-height: 36px;
}

.footer .copyright a {
	text-decoration: underline;
}

.footer .social {
    float: right;
}

@media (max-width:600px) {

	.footer .copyright {
		font-size: 12px;
	}

}
