body {
    cursor: url("/resource/mark_cursor.png") 2 2, auto;
}

.app-ribbon {
    background-color: #a5a5a5
}
.btn-primary {
    background-color: #1c1ab9;
    border-color: #1c1ab9;
    color: #fff;
}
.navbar-brand-link {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient;
    padding: 12px;
    border-radius: 4px;
    color: #000;
}
.btn-primary:hover {
    background-color: #efa500;
    border-color: #efa500;
}
.media-logos img {
    height: 30px;
}

.app-iphone-block {
    padding-bottom: 120px;
}
.app-iphone {
    border-radius: 50%;
}
a {
    color: #d6d6d6;
}
.app-marketing-grid i.fa {
    font-size: 70pt;
    width: 100px;
    height: 100px;
    color: #f538fd;
    margin: 10px;
}
.paypal {
    margin: 20px auto;
}
.donate {
    margin-bottom: 20px;
}

.app-code-block {
    background-color: #353535;
}
.app-code {
    color: #0cff00;
}
a.navbar-brand {
    color: #7aaadf;
}