body {
    cursor: url("/resource/mark_cursor.png") 2 2, auto;
}

.app-ribbon {
    background-color: #efd200
}
.btn-primary {
    background-color: #efd200;
    border-color: #efd200;
    color: #000;
}
.btn-primary:hover {
    background-color: #efa500;
    border-color: #efa500;
}
.media-logos img {
    height: 30px;
}

.app-iphone-block {
    padding-bottom: 120px;
}
.app-iphone {
    border-radius: 50%;
}
a {
    color: #d6d6d6;
}
.app-marketing-grid i.fa {
    font-size: 70pt;
    width: 100px;
    height: 100px;
    color: #7AAADF;
    margin: 10px;
}
.paypal {
    margin: 20px auto;
}
.donate {
    margin-bottom: 20px;
}

.app-code-block {
    background-color: #301350;
}
.app-code {
    color: #a6e8a6;
}
a.navbar-brand {
    color: #7aaadf;
}