This website was built onstage in front of a live audience at {{ theater }} as part of the show "Let's Make a Website,"
written by and starring
<a href="http://markvigeant.com">Mark Vigeant</a>,
directed by
<a href="http://matthewrobertgehring.com/">Matt Gehring</a>, produced by
Grace Vigeant,
with help from
<a href="http://haikufu.com/">Kevin J. Dolan</a>
and
Alex Redmon. 
Occasional help from
Ian Stroud.
Special thanks to
Michael Wolf.
